<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewVersionVisibleTitle</key>
    <string>Recording Indicator Utility 1.3 (Build 13) improves support for macOS Ventura.</string>
	<key>NewVersionChangelog</key>
    <string>• Resolves a crash on macOS Ventura for Macs with Apple Silicon
</string>
	<key>LatestZIP</key>
	<string>https://github.com/cormiertyshawn895/RecordingIndicatorUtility/releases/download/1.3/RecordingIndicatorUtility.1.3.zip</string>
	<key>LatestBuildNumber</key>
	<integer>13</integer>
	<key>SupportPathURL</key>
	<string>https://raw.githubusercontent.com/cormiertyshawn895/RecordingIndicatorUtility/master/RecordingIndicatorUtility/Support/SupportPath.plist</string>
	<key>ReleasePage</key>
	<string>https://github.com/cormiertyshawn895/RecordingIndicatorUtility/releases</string>
</dict>
</plist>
